.navbar {
    position: fixed;
    display:flex;
    width:90%;
    height: 60px;
    padding: 8px 100px;
    margin: -16px -16px;
    gap: 16px;
    background-color: var(--bg-main);
    justify-content: flex-start;
    border: 1px solid var(--border);
    color: white;
}

.navButton {
  color: white;
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  height: 80%;
  align-self: center;
}

.navButton:hover {
    text-decoration: underline;
}

.rightAligned {
    margin-left: auto;
}
