.loadQuests {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.loadButton {
  margin: 10px;
}

.questWindow {
  background-color: lightblue;
  /* background-color: #1e293b; 
    border: 1px solid var(--accent-soft);
    box-shadow: 0 0 10px rgba(0, 224, 255, 0.15);      */
  color: black;
  min-height: 200px;
  height: auto;
  border-radius: 20px;
  gap: 20px;
  padding: 20px;
}

.questitem {
  border: 1px solid white;
  flex: 0 1 45%;
  border-radius: 10px;
  padding: 10px;
}

.questitem h1 {
  font-size: 16px;
}
